[Unit]
Description=Vérifier et lancer le tunnel WireGuard pbs2rosieres si nécessaire
#After=network.target
#Wants=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wg-check-and-up.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
